* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

/* header section start -------------------------------------------------------------*/
header {
    background-image: url('../images/header-bg2.png');
    background-size: cover;
    background-position: center center;
}

header .overlay {
    background: rgba(255, 250, 255, .8);
}

header .overlay .header-overlay {
    background: rgba(0, 68, 92, 0.8);
}

nav {
    padding: 0;
    margin: 0;
    background-image: url("../images/header-bg.png");
    width: 100%;
    background-size: cover;
}

nav>.logo>img {
    width: 50px;
    height: 50px;
}

nav>.logo>span {
    white-space: pre-line;
    font-size: 12px;
    color: #645b5b;
    line-height: 13px;
}

.nav-link{
    color: #fff  !important;
}

@media (max-width:991px) {
 .nav-link{
        color: #00445B  !important;
    }
}



/* services container start  ----------------------------------------------------------------------------*/
.service-container {
    background: rgba(255, 250, 255, .8);
    border-radius: 15px;
}

.service-container img {
    width: 90px;
    height: 90px;
    position: absolute;
    top: -45px;
    left: 40%;
}

.service-container button {
    position: absolute;
    bottom: -10px;
    left: 33%;
}

.service-container p {
    color: #5c5858;
}
#our-training >p{
    max-width: 80%;
    margin: auto;
}
/* map section start  ----------------------------------------------------------------------------*/

#map_section>div {
    margin: 0;
    padding: 0;
}

#map_section>img {
    width: 70px;
    height: 70px;
    position: absolute;
    top: -37px;
    left: 50%;
}

/* general classes ------------------------------------------------------------------------------*/
.read-more-btn {
    background-color: #F87021;
    color: white;
}

.btn-grey {
    background-color: #F0F0F0;
    color: #00445B;
    padding: 10px 20px;
}

.bg-blue {
    background-color: #00445c;
}

.active-link {
    font-weight: bolder;
    font-size: 16px;
}

.color-orange {
    color: #F87021;
}

.color-blue {
    color: #00445B;
}

.active-link {
    background: rgba(255, 255, 255, .2);
}